/* Smartphones----------- */
@media only screen and (min-width: 321px) and (max-width: 415px) {
  /* Styles */
  .side-toogle {
    grid-column: 1;
    display: inline !important;

  }
  header {
    grid-template-columns: 0.5fr 0.5fr 4fr;
  }
  #logo {
    width: 50px;
    content: url("../../Assets/img/logo.png");
  }


  /**** ------------ Sidebar  ---------------------***/
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.header > .side-toogle > .menu__toggle:checked ~ .container>.menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 23px;
  left: 10px;
  width: 20px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: var(--sidebar);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: var(--check);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: var(--sidehover);
}
}

/* tablet (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  .side-toogle {
    display: none !important;
  }

  header {
    grid-template-columns: 1fr 4fr;
  }
}

/* MAIN desktop styles type ------------------------*/
@media only screen and (min-width: 1224px) {
  /* Styles */
  .side-toogle {
    display: none !important;
  }

  header {
    grid-template-columns: 1fr 4fr;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  main {
    grid-column: 2;
  }

  #logo {
    width: 350px;
  }
}

body {
  height: 100%;
  margin: 0;
}
header {
  display: grid;
  height: 54px;
}

#logo {
  height: 50px;
  display: block;
  margin: 0px 6px;
  padding:2px
}

header h1 {
  
  margin: 5px 60px;
  padding: 0px;
  text-align: left;
}

.sidebar-list {
  margin: 0px;
  padding: 40px;
  background-color: bisque;
}

.container {
  height: 100vh;
  width: 100%;
}

main {
  background-color: rgb(230, 240, 245);
}

/*********--------------------------  Footer Section   ------------------------********************/
.footer {
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 0;
  left: 0;
  height: 30px;
  bottom: 0;
}

.footer a {
  margin: 5px;
  text-decoration: none;
}

.foot-cnt {
  float: left;
  padding: 4px 8px;
}

.foot-cnt a {
}

.by-form {
  float: right;
  padding-right: 10px;
}



/*****   Dark and light theme  ----------------*/
:root {
  --background: #f2eee3;
  --check: #000;
  --ball: #f2eee3;
  --sidebar: #eceff1;
  --sidehover: #cfd8dc;
}

.dark {
  --background: rgb(46, 46, 59);
  --check: #f2eee3;
  --ball: #000;
  --sidebar: #000000;
  --sidehover: #3f3939;
}

.label {
  width: 50px;
  background: var(--check);
  height: 26px;
  border-radius: 50px;
  padding: 5px;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-mode {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-bottom: 20px;
}

.ball {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  background: var(--ball);
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.checkbox {
  opacity: 0;
  position: absolute;
}
