/*****   Dark and light theme  ----------------*/
:root {
  --header-color:rgb(120, 169, 236);
  --background: #ffffff;
  --check: #000;
  --ball: #f2eee3;
  --sidebar: rgb(120, 169, 236);
  --sidehover: rgb(158, 198, 255);
  --sidebar-tab: 50px;
  --sidebar-submenu: 60px;
  --footer-color:rgb(68, 68, 68);
  --footer:rgb(255, 255, 255);
}

.dark {
  --header-color:#000000;
  --background: rgb(46, 46, 59);
  --check: #f2eee3;
  --ball: #000;
  --sidebar: #000000;
  --sidehover: #3f3939;
  --footer-color:rgb(255, 255, 255);
  --footer:rgb(32, 32, 32);
}

body{
  background-color:var(--background);
}

.label {
  width: 50px;
  background: var(--check);
  height: 26px;
  border-radius: 50px;
  padding: 5px;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.dark-mode {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-bottom: 20px;
}

.ball {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  background: var(--ball);
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

/*--------------dark theeme setting END -----------------------------*/

/* Smartphones----------- */
@media only screen and (min-width: 321px) and (max-width: 911px) {
  /* Styles */
  .side-toogle {
    grid-column: 1;
    display: inline !important;
  }
  header {
    grid-template-columns: 0.5fr 0.5fr 4fr;
  }
  #logo {
    margin: 0px 6px;
    width: 50px;
    content: url("../../Assets/img/logo.png");
  }

  header h1 {
    margin: 5px 40px;
  }

  /**** ------------ Sidebar  ---------------------***/
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .header
    > .side-toogle
    > .menu__toggle:checked
    ~ .main-container
    > .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 23px;
    left: 10px;
    width: 20px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 50px;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--sidebar);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
}

/* MAIN desktop and tablet (portrait and landscape) styles type ------------------------*/
@media only screen and (min-device-width: 912px) {
  /* Styles */
  .side-toogle {
    display: none !important;
  }

  header {
    grid-template-columns: 1fr 4fr;
  }

  header h1 {
    margin: 5px 80px;
  }
  .main-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
  main {
    grid-column: 2;
  }

  #logo {
    margin: 0px 20px;
    content: url("../../Assets/img/logo_long.png");
  }
}

/**** -----------------------------                                      ------------------------
-----------------------------------    Default STYLES FOR ALL SCREENS    ------------------------
-----------------------------------                                      ------------------------*****/
body {
  height: 100%;
  margin: 0;
}
header {
  display: grid;
  height: 54px;
  background-color: var(--header-color);
  box-shadow: 10px 0px 10px black;
}

#logo {
  height: 50px;
  display: block;
  padding: 4px;
}

header h1 {
  margin: 6px 37px;
  padding: 0px;
  text-align: left;
  color:var(--check);
}

.main-container {
  border-radius: 5px;
  margin-top: 2px;;
  height: 94vh;
  width: 100%;
  background: var(--background);
}

main {
}

/*********--------------------------   Sidebar Section  ---------------------- ********************/

.sidebar-list {
  margin: 0px;
  height: 100%;
  margin: 0;
  list-style: none;
  background-color: var(--sidebar);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.menu_ex_item {
  display: block;
  color: var(--check);
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px var(--sidebar-tab);
  color: var(--check);
  font-size: 23px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: var(--sidehover);
}
.expand {
  position: relative;
  cursor: pointer;
}
.expand a {
  padding: 5px var(--sidebar-submenu);
}

.expand.open:before {
  content: "-";
  position: relative;
  color: blue;
  float: right;
  font-size: 23px;
  font-weight: 600;
  padding: 12px var(--sidebar-tab);
}

.expand:before {
  content: "+";
  position: relative;
  color: red;
  float: right;
  font-size: 23px;
  font-weight: 600;
  padding: 12px var(--sidebar-tab);
}

.u-welcome {
  margin-bottom: 40px;
  display: block;
  padding: 12px 24px;
  color: var(--check);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.dark-mode {
  padding: 12px var(--sidebar-tab);
}
.dark-mode span{
  color:var(--check);
}

/*********--------------------------  Footer Section   ------------------------********************/
.footer {
  text-decoration: none;
  width: 100%;
  
  background-color: var(--footer);
  position: absolute;
  right: 0;
  left: 0;
  height: 30px;
  bottom: 0;
}

.footer a {
  color:var(--footer-color);
  margin: 5px;
  text-decoration: none;
}

.foot-cnt {
  float: left;
  padding: 4px 8px;
}

.foot-cnt a {
}

.by-form {
  float: right;
  padding-right: 10px;
}
