 /*===== GOOGLE FONTS =====*/
 @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");


 body {

   width: 100%;
   display: grid;
   grid-template-rows: 1fr 4fr 1fr;
 }

 /*-------------------  buttons and inputs  **********/


 main {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   width: 80%;
   height: 678px;
   display: grid;
   border-radius: 7px;
 }

 .block-main {
   grid-row: 2;
   grid-template-columns: 1fr 1fr;


 }


 footer {
   grid-row: 3;
   position: absolute;
   right: 0;
   left: 0;
   height: 40px;
   bottom: 0;
   padding: 8px 60px;
 }


 .heading {
   text-align: center;
   padding: 30px;
   font-size: 59px;
   color: #575555;
   width: 100%;

 }


 .left {
   grid-column: 1;

 }

 .right {
   grid-column: 2;
 }

 .block-page {}

 .r-lan {
   display: grid;
   grid-template-rows: 1fr 3fr;

 }

 .b-shadow {
   border: 1px solid rgb(224, 224, 224);
   border-radius: 1rem;
   box-shadow: 15px 15px 10px #00000060;
 }

 .org-div {
   margin: auto;
   display: grid;
   grid-template-columns: 1fr 4fr;
   width: 500px;
 }

 .img-lan {
   height: 100%;
 }

 .log {
   width: 72px;
   height: 72px;
 }

 .org-name {
  height: 72px;
   font-size: 40px;
   font-weight: bold;
   color: #575555;
 }

 .l-but-div {
   margin: auto;
 }

 .l-but {
   width: 342px;
   height: 72px;
   background-color: #A7C8FF;
   margin: 40px;
   font-size: 30px;
   border: 0px;
   border-radius: 18px;
 }



 /*--------------------------------   Google Style forms  -------------------------------*/




 /*===== VARIABLES CSS =====*/
 :root {
   /*===== Colores =====*/
   --first-color: #1A73E8;
   --input-color: #80868B;
   --border-color: #DADCE0;

   /*===== Fuente y tipografia =====*/
   --body-font: 'Roboto', sans-serif;
   --normal-font-size: 1rem;
   --small-font-size: .75rem;
 }

 /*===== BASE =====*/
 *,
 ::before,
 ::after {
   box-sizing: border-box;
 }

 body {
   margin: 0;
   padding: 0;
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
 }

 h1 {
   margin: 0;
 }

 .l-form {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }

 .form {

   padding: 4rem 2rem;
   border-radius: 1rem;
   box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
 }

 .form__title {
   font-weight: 500;
   margin-bottom: 3rem;
 }

 .form_div {
   position: relative;
   height: 48px;
   margin-bottom: 1.5rem;
 }

 .form__input {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   font-size: var(--normal-font-size);
   border: 1px solid var(--border-color);
   border-radius: .5rem;
   outline: none;
   padding: 1rem;
   background: none;
   z-index: 1;
 }

 .form__label {
   position: absolute;
   left: 1rem;
   top: 1rem;
   padding: 0 .25rem;
   background-color: #fff;
   color: var(--input-color);
   font-size: var(--normal-font-size);
   transition: .3s;
 }

 .form__button {
   display: block;
   margin-left: auto;
   padding: .75rem 2rem;
   outline: none;
   border: none;
   background-color: var(--first-color);
   color: #fff;
   font-size: var(--normal-font-size);
   border-radius: .5rem;
   cursor: pointer;
   transition: .3s;
 }

 .form__button:hover {
   box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
 }

 .form__input:focus+.form__label {
   top: -.5rem;
   left: .8rem;
   color: var(--first-color);
   font-size: var(--small-font-size);
   font-weight: 500;
   z-index: 10;
 }

 .form__input:not(:placeholder-shown).form__input:not(:focus)+.form__label {
   top: -.5rem;
   left: .8rem;
   color: var(--first-color);
   font-size: var(--small-font-size);
   font-weight: 500;
   z-index: 10;
 }

 .form__input:focus {
   border: 1.5px solid var(--first-color);
 }

 progress {
   grid-row: 1;
   width: 100%;
   margin: 0px;
 }




 /* 
 ---------------------------------------------------------------------------                  ----------------------------------------------------------
 ---------------------------------------------------------------------------     Forms Block  ----------------------------------------------------------
 ---------------------------------------------------------------------------                  ---------------------------------------------------------
 */
 .block-forms {
   grid-template-columns: 1fr 0.001fr 1fr;
   grid-template-rows: 1fr 5fr 0.33fr;
   background-color: #EFEFEF;
   grid-row: 2;
   height: 778px;
   padding: 40px;

 }

 .left-form{
  grid-column: 1;
  grid-row: 2;
}

.vl {
  border-radius:1rem;
  border-left: 6px solid rgb(97, 97, 97);
  height: 500px;
  grid-row: 2;
  box-shadow: 7px 4px 10px  grey;
  grid-column: 2;
}

.right-form{
  grid-row: 2;
  grid-column: 3;
  padding: 30px;
}

 .left {
   background-color: #ffffff;
 }

 .foot-forms {
   position: absolute;
   border-radius: 0rem 0rem 1rem 1rem;
   display: grid;
   grid-template-columns: 1fr 1fr;
 }

 .foot-cnt{
  float: left;
 }

.foot-cnt a{
padding: 0px 8px;
 }

 .by-form{
  float: right;
 }